main {
    padding-top: 70px;

}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

/* .carousel-item {
            height: 400px;
        } */

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.navbar-overlay.show {
    display: block;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 2;
}

.card .image-phone {
    width: 200px;
    height: 200px;
    margin: 10px auto;

}

.col-md-6 {
    margin-bottom: 20px;
}

.news a {
    text-decoration: none;
    color: black;
}

.news .image-news {
    width: 300px;
    margin: 10px auto;
    height: 190px;
}

.news-body-card {
    height: 120px;
}

.price {
    color: red;
    font-weight: bold;
    font-size: large;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    color: #8b8b8b;
}

.btn-primary {
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    color: #e2e0e0;
    background-color: #8b8b8b;
    border-color: #030303;
}

.product-card {
    background-color: #ac7b7b42;
}

footer {
    border-top: #8b8b8b 1px solid;
}
footer a img {
    width: 80px;
    margin-left: 20px;
}

footer h3 {
    color: #ee7b10;
}